/*

Cet espace est reserve pour des commentaires future en relation avec le projet
Cet espace est reserve pour des commentaires future en relation avec le projet
Cet espace est reserve pour des commentaires future en relation avec le projet
Cet espace est reserve pour des commentaires future en relation avec le projet


*/


/* ---------------------------------------------------------------- */
/* ------ FORMAT CLEARING ----------------------------------------- */
/* ------ pour supprimer les formats imposes par les navigateurs -- */
/* ---------------------------------------------------------------- */

h1, h2, h3, p, ul, ol {    margin: 0; padding: 0; margin-block-start: 0; margin-block-end: 0;}


/* STYLES EN DEPOT EN ATTENTE...   ----------------------------- */
/* 
copier-coller depuis autres projets et sites, etc.

@media (max-width: 425px)
 mobile : @media all and (max-width: 768px)
 tabeltte:@media screen and (min-width: 768px) and (max-width: 991px) .

*/

/* ----------------------------------------------------- */
/* ------ CSS POUR LA STRUCTURE DE LA PAGE ------------- */
/* ----------------------------------------------------- */

/* ELEMENTS DE STRUCTURE  ----------------------- */
body{margin: 0 }
header{background-color: #f0e3fa; height: 100px;} /* Temp color - design color is #ffffff; */
#conteneur_principal{margin: 0 auto; max-width: 1440px;}
#conteneur_principal{background-color: #ffff00;} /* Temp color - design color is #ffffff; */
section{}
h1{}

/* EN TETE - HAUT DE PAGE ----------------------- */

#header_logo{float:left; padding-top: 20px}
#header_nav{float: right;  }
	#header_nav ul {
	  list-style-type: none;
	  margin: 0;
	  padding: 0;
	  overflow: hidden;
	}

	#header_nav_list li {float: left;padding: 20px }
	#header_nav_list li.selection {border-top: 2px solid #0065FC;padding-top: 18px}

	#header_nav_list li a {
	  display: block;
	  color: #0065FC;
	  text-align: center;
	  font-size: 1.6em;
	  text-decoration: none;
	}
#header_inscription{float: right; font-size: 1.6em; padding-top: 20px;}


/* BARRE DE TITRE ------------------------------- */
#barre_titre{padding: 0 50px; background-color: #bcf7f6;} /* Temp color - design color is #ffffff; */
#barre_titre_titre{font-size: 2.0em; font-weight: bold;}
#barre_titre_sous_titre{font-size: 1.5em;}

/* BARRES AU DESSUS DU CONTENU ------------------ */
/*.barre_entete{height: 80px; }*/

/* BARRE DE RECHERCHE --------------------------- */
#barre_recherche{padding: 10px 50px;  background-color: #f29696;} /* Temp color - design color is #ffffff; */
#barre_recherche_contenu{}
#form_recherche{}
#requete_usager{}
#form_recherche_submit{}

/* BARRE DE FILTRE ----------------------------- */
#barre_filtre{padding: 10px 50px; display: flex;   justify-content: flex-start; background-color: #ad0;} /* Temp color - design color is #ffffff; */
.barre_filtre_element{padding:0 20px;}
.barre_filtre_icon{}

/* BARRE DE NAVIGATION - ENTETE ---------------- */
#header_nav_list{}

/* BARRE D'INFORMATION ------------------------- */
#barre_info{padding: 10px 50px; background-color: #dd0;}/* Temp color - design color is #ffffff; */

/* SECTIONS DE CONTENU ------------------------- */
#conteneur_sec1_sec2{padding: 0 50px; display: flex; justify-content: space-between;}
.bloc_contenu{background-color: #f2f2f2;} 
.star_on{color: #0065FC;}
.star_off{color: #D9D9D9;}

/* SECTION_1_HEBERGEMENTS ----------------------- */
#section_1_hebergements{ width:60%; padding: 0 40px; background-color: #e3e3fa;} /* Temp color - design color is #f2f2f2; */
#section_1_hebergements h2{}
#section_1_rang_1, #section_1_rang_2 { display: flex; justify-content: space-between;}
.section_1_element{width: 30%; margin: 20px 0; background-color: #ff0000; }/* Temp color - design color is #fff; */
.section_1_element_titre{}
.section_1_element_description{}
.section_1_element_etoiles{}


/* SECTION_2_POPULAIRES ----------------------- */
#section_2_populaires{ width: 30%; background-color: #faae84;} /* Temp color - design color is #f2f2f2; */
#section_2_populaires h2{}
.section_2_element{}
.section_2_element_titre{}
.section_2_element_description{}

.section_2_element_etoiles{}


/* SECTION_3_ACTIVITES ----------------------- */
#section_3_activites{margin-left:50px; background-color: #f2c7e2;} /* Temp color - design color is #f2f2f2; */
#section_3_activites h2{}
#section_3_flex_container{ display: flex; justify-content: space-between;}
#section_3_grid_container_1, #section_3_grid_container_2{
  display: grid;
  align-content: center;
  grid-template-columns: 22% 22% ;
  grid-template-rows: 50% 50% ;
  grid-gap: 3%;
  background-color: #2196F3;
  padding: 10px;}
#section_3_element_1, #section_3_element_4 { grid-row: 1/2}
.section_3_element{}
.section_3_element_titre{}


/* PIED DE PAGE ------------------------------ */
footer{ padding: 50px; display: flex; justify-content: space-between; background-color: #e3faeb;} /* Temp color - design color is #f2f2f2; */
.footer_nav{width: 25%; background-color: #e3f;} /* Temp color - design color is #f2f2f2; */
#footer_nav_1{}
#footer_nav_2{}
#footer_nav_3{}


/* ----------------------------------------------------- */
/* ------ CSS POUR LE TEXTE ET LE CONTENU -------------- */
/* ----------------------------------------------------- */

.riservia_bleu{color:  #0065fc;}
.riservia_bleu_clair{color:  #deebff ;}

.riservia_gris{color:  #f2f2f2;}
.riservia_gris_clair{color:  #d9d9d9;}

.gras{font-weight: bold;}




